﻿/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);




@font-face {
    font-family: 'Govco Icon';
    font-style: normal;
    src: url("/v2/assets/fonts/icons/v2/govco-icons.eot");
    src: local("Govco Icon"), local("govco-icons"), url("/v2/assets/fonts/icons/v2/govco-icons.eot?#iefix") format("embedded-opentype"), url("/v2/assets/fonts/icons/v2/govco-icons.woff2") format("woff2"), url("/v2/assets/fonts/icons/v2/govco-icons.woff") format("woff"), url("/v2/assets/fonts/icons/v2/govco-icons.ttf") format("truetype"), url("/v2/assets/fonts/icons/v2/govco-icons.svg") format("svg")
}


.main-content {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 5px 30px 3px rgb(0 0 0 / 40%);
    margin: 5em auto;
    display: flex;
}

.title-head {
    color: #35608e;
}

.company__info {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 5rem;
}

.fa-android {
    font-size: 3em;
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }

    .company__info {
        display: none;
    }

    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .main-content {
        width: 70%;
    }
}

.row > h2 {
    color: #008080;
}

.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /*border-top: 1px solid #ccc; */
    border-right: 1px solid #ccc;
    padding-top: 20px;
}

form {
    padding: 0 2em;
    width: 100%;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 10px;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
    border-bottom-color: #35608e;
    box-shadow: 0 0 5px rgba(53,96,142,.4);
}

    .form__input:focus {
        border-bottom-color: #35608e;
        box-shadow: 0 0 5px rgba(53,96,142,.4);
        border-radius: 4px;
    }

.btn {
    transition: all .5s ease;
    width: 100%;
    border-radius: 30px;
    color: #35608e;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #35608e;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

    .btn:hover, .btn:focus {
        background-color: #35608e;
        color: #fff;
    }


.form-group {
    margin-bottom: 1rem;
    width: 100%;
}





.govco-icon {
    font-family: "Govco Icon";
    font-size: 1.5rem !important;
    color: #004884;
    vertical-align: middle !important;
}

    .govco-icon.size-1x {
        font-size: 1em
    }

    .govco-icon.size-2x {
        font-size: 2em
    }

    .govco-icon.size-3x {
        font-size: 3em
    }

    .govco-icon.size-4x {
        font-size: 4em
    }

    .govco-icon.size-5x {
        font-size: 5em
    }

    .govco-icon.size-6x {
        font-size: 6em
    }

    .govco-icon.size-7x {
        font-size: 7em
    }

    .govco-icon.size-8x {
        font-size: 8em
    }

    .govco-icon.size-9x {
        font-size: 9em
    }

    .govco-icon.size-10x {
        font-size: 10em
    }

.govco-icon-tramite-sin-costo::before {
    content: '\e8df'
}

.govco-icon-tramite-presencial::before {
    content: '\e8de'
}

.govco-icon-tramite-en-linea::before {
    content: '\e8e1'
}

.govco-icon-tramite-duracion::before {
    content: '\e8e3'
}

.govco-icon-logo-govco-blanco::before {
    content: '\e8e4'
}

.govco-icon-logo-govco-negro::before {
    content: '\e8e0'
}

.govco-icon-tramite-con-costo::before {
    content: '\e8e2'
}

.govco-icon-exclamation::before {
    content: '\e903'
}

.govco-icon-exclamation-cn::before {
    content: '\e901'
}

.govco-icon-plus::before {
    content: '\e902'
}

.govco-icon-plus-n::before {
    content: '\e93f'
}

.govco-icon-plus-p::before {
    content: '\e940'
}

.govco-icon-plus-cn::before {
    content: '\e9af'
}

.govco-icon-plus-cp::before {
    content: '\e9b0'
}

.govco-icon-analytic::before {
    content: '\e905'
}

.govco-icon-analytic-p::before {
    content: '\e946'
}

.govco-icon-analytic-n::before {
    content: '\e945'
}

.govco-icon-analytic-cn::before {
    content: '\e904'
}

.govco-icon-idea::before {
    content: '\e907'
}

.govco-icon-idea-cn::before {
    content: '\e906'
}

.govco-icon-searchdoc::before {
    content: '\e909'
}

.govco-icon-call-center::before {
    content: '\e90b'
}

.govco-icon-call-center-cn::before {
    content: '\e90a'
}

.govco-icon-call-center-cp::before {
    content: '\e960'
}

.govco-icon-call-center-p::before {
    content: '\e954'
}

.govco-icon-call-center-n::before {
    content: '\e953'
}

.govco-icon-share::before {
    content: '\e90e'
}

.govco-icon-share-cn::before {
    content: '\e90d'
}

.govco-icon-share-p::before {
    content: '\e970'
}

.govco-icon-share-n::before {
    content: '\e96f'
}

.govco-icon-circle-share-cp::before {
    content: '\e964'
}

.govco-icon-circle-share-cn::before {
    content: '\e963'
}

.govco-icon-dropdown-cn::before {
    content: '\e90f'
}

.govco-icon-dropdown::before {
    content: '\e914'
}

.govco-icon-callback-cn::before {
    content: '\e97f'
}

.govco-icon-callback-cp::before {
    content: '\e980'
}

.govco-icon-building::before {
    content: '\e911'
}

.govco-icon-favorite::before {
    content: '\e913'
}

.govco-icon-favorite-cn::before {
    content: '\e912'
}

.govco-icon-favorite-p::before {
    content: '\e994'
}

.govco-icon-favorite-n::before {
    content: '\e993'
}

.govco-icon-pc::before {
    content: '\e91e'
}

.govco-icon-print::before {
    content: '\e920'
}

.govco-icon-print-cn::before {
    content: '\e91f'
}

.govco-icon-print-p::before {
    content: '\e99f'
}

.govco-icon-print-n::before {
    content: '\e9a0'
}

.govco-icon-info::before {
    content: '\e922'
}

.govco-icon-info-cn::before {
    content: '\e921'
}

.govco-icon-info-cp::before {
    content: '\e9a2'
}

.govco-icon-legal::before {
    content: '\e923'
}

.govco-icon-key::before {
    content: '\e927'
}

.govco-icon-key-cn::before {
    content: '\e9ac'
}

.govco-icon-key-cp::before {
    content: '\e9ad'
}

.govco-icon-email::before {
    content: '\e929'
}

.govco-icon-email-cn::before {
    content: '\e928'
}

.govco-icon-email-cp::before {
    content: '\e966'
}

.govco-icon-email-p::before {
    content: '\e976'
}

.govco-icon-email-n::before {
    content: '\e975'
}

.govco-icon-like::before {
    content: '\e92c'
}

.govco-icon-like-cn::before {
    content: '\e92b'
}

.govco-icon-like-p::before {
    content: '\e9b2'
}

.govco-icon-like-n::before {
    content: '\e9b1'
}

.govco-icon-message::before {
    content: '\e92f'
}

.govco-icon-message-cn::before {
    content: '\e92e'
}

.govco-icon-pin::before {
    content: '\e933'
}

.govco-icon-pin-cn::before {
    content: '\e932'
}

.govco-icon-question::before {
    content: '\e936'
}

.govco-icon-question-cn::before {
    content: '\e935'
}

.govco-icon-questions-p::before {
    content: '\e984'
}

.govco-icon-questions-n::before {
    content: '\e983'
}

.govco-icon-clock::before {
    content: '\e937'
}

.govco-icon-clock-p::before {
    content: '\e9c3'
}

.govco-icon-clock-n::before {
    content: '\e9c4'
}

.govco-icon-telephone::before {
    content: '\e938'
}

.govco-icon-wifi-cn::before {
    content: '\e9aa'
}

.govco-icon-wifi-cp::before {
    content: '\e9d9'
}

.govco-icon-wifi-p::before {
    content: '\e9ab'
}

.govco-icon-wifi-n::before {
    content: '\e9a9'
}

.govco-icon-callin-cn::before {
    content: '\e924'
}

.govco-icon-callin-cp::before {
    content: '\e96a'
}

.govco-icon-callin-p::before {
    content: '\e9a8'
}

.govco-icon-callin-n::before {
    content: '\e9a7'
}

.govco-icon-accessibility-cp::before {
    content: '\e93b'
}

.govco-icon-accessibility-cn::before {
    content: '\e93a'
}

.govco-icon-attached-p::before {
    content: '\e93d'
}

.govco-icon-attached-n::before {
    content: '\e93c'
}

.govco-icon-scared-face::before {
    content: '\e93e'
}

.govco-icon-sad-face::before {
    content: '\e9a6'
}

.govco-icon-sad-face-n::before {
    content: '\e9a5'
}

.govco-icon-shock-face::before {
    content: '\e9ae'
}

.govco-icon-happy-face::before {
    content: '\e9d4'
}

.govco-icon-happy-face-n::before {
    content: '\e9d3'
}

.govco-icon-bell-p::before {
    content: '\e943'
}

.govco-icon-bell-n::before {
    content: '\e941'
}

.govco-icon-bell-sound-p::before {
    content: '\e944'
}

.govco-icon-bell-sound-n::before {
    content: '\e942'
}

.govco-icon-grad-cap-p::before {
    content: '\e948'
}

.govco-icon-grad-cap-n::before {
    content: '\e947'
}

.govco-icon-x::before {
    content: '\e93e'
}

.govco-icon-x-n::before {
    content: '\e949'
}

.govco-icon-x-p::before {
    content: '\e94c'
}

.govco-icon-x-cn::before {
    content: '\e908'
}

.govco-icon-delete-p::before {
    content: '\e94e'
}

.govco-icon-delete-n::before {
    content: '\e94b'
}

.govco-icon-tag-p::before {
    content: '\e94d'
}

.govco-icon-tag-n::before {
    content: '\e94a'
}

.govco-icon-search-p::before {
    content: '\e950'
}

.govco-icon-search-n::before {
    content: '\e94f'
}

.govco-icon-search-cn::before {
    content: '\e95b'
}

.govco-icon-search-cp::before {
    content: '\e95c'
}

.govco-icon-calendar-p::before {
    content: '\e952'
}

.govco-icon-calendar-n::before {
    content: '\e951'
}

.govco-icon-calendar-cn::before {
    content: '\e95d'
}

.govco-icon-calendar-cp::before {
    content: '\e95e'
}

.govco-icon-shop-car::before {
    content: '\e90c'
}

.govco-icon-shop-car-n::before {
    content: '\e955'
}

.govco-icon-shop-car-p::before {
    content: '\e956'
}

.govco-icon-relief-p::before {
    content: '\e958'
}

.govco-icon-relief-n::before {
    content: '\e957'
}

.govco-icon-check-p::before {
    content: '\e95a'
}

.govco-icon-check-n::before {
    content: '\e959'
}

.govco-icon-check-cp::before {
    content: '\e962'
}

.govco-icon-check-cn::before {
    content: '\e961'
}

.govco-icon-right-arrow::before {
    content: '\e916'
}

.govco-icon-right-arrow-cp::before {
    content: '\e968'
}

.govco-icon-right-arrow-cn::before {
    content: '\e915'
}

.govco-icon-right-arrow-p::before {
    content: '\e996'
}

.govco-icon-right-arrow-n::before {
    content: '\e995'
}

.govco-icon-left-arrow::before {
    content: '\e918'
}

.govco-icon-left-arrow-cp::before {
    content: '\e968'
}

.govco-icon-left-arrow-cn::before {
    content: '\e917'
}

.govco-icon-left-arrow-p::before {
    content: '\e996'
}

.govco-icon-left-arrow-n::before {
    content: '\e995'
}

.govco-icon-down-arrow-p::before {
    content: '\e97c'
}

.govco-icon-down-arrow-n::before {
    content: '\e97b'
}

.govco-rotate-180 {
    transform: rotate(180deg) scaleX(-1)
}

.govco-icon-simpled-arrow::before {
    content: '\e914'
}

.govco-icon-simpler-arrow::before {
    content: '\e919'
}

.govco-icon-shortr-arrow::before {
    content: '\e91c'
}

.govco-icon-shortr-arrow-cn::before {
    content: '\e91d'
}

.govco-icon-shortl-arrow::before {
    content: '\e91b'
}

.govco-icon-shortl-arrow-cn::before {
    content: '\e91a'
}

.govco-icon-shortu-arrow-p::before {
    content: '\e97e'
}

.govco-icon-shortu-arrow-n::before {
    content: '\e97d'
}

.govco-icon-shortd-arrow-p::before {
    content: '\e9d8'
}

.govco-icon-shortd-arrow-n::before {
    content: '\e9d7'
}

.govco-icon-voice-call-p::before {
    content: '\e96c'
}

.govco-icon-voice-call-n::before {
    content: '\e96b'
}

.govco-icon-colombia-p::before {
    content: '\e96e'
}

.govco-icon-colombia-n::before {
    content: '\e96d'
}

.govco-icon-shield-col-p::before {
    content: '\e98e'
}

.govco-icon-shield-col-n::before {
    content: '\e98d'
}

.govco-icon-peso-col::before {
    content: '\e931'
}

.govco-icon-peso-col-p::before {
    content: '\e9bc'
}

.govco-icon-peso-col-n::before {
    content: '\e9bb'
}

.govco-icon-peso-col-cn::before {
    content: '\e96b'
}

.govco-icon-peso-col-cp::before {
    content: '\e96c'
}

.govco-icon-contrast-p::before {
    content: '\e972'
}

.govco-icon-contrast-n::before {
    content: '\e971'
}

.govco-icon-music-p::before {
    content: '\e974'
}

.govco-icon-music-n::before {
    content: '\e973'
}

.govco-icon-4-phases-p::before {
    content: '\e978'
}

.govco-icon-4-phases-n::before {
    content: '\e977'
}

.govco-icon-3-phases-p::before {
    content: '\e9d0'
}

.govco-icon-3-phases-n::before {
    content: '\e9cf'
}

.govco-icon-data-up-p::before {
    content: '\e97a'
}

.govco-icon-data-up-n::before {
    content: '\e979'
}

.govco-icon-document-p::before {
    content: '\e982'
}

.govco-icon-document-n::before {
    content: '\e981'
}

.govco-icon-edit-slim-p::before {
    content: '\e986'
}

.govco-icon-edit-slim-n::before {
    content: '\e985'
}

.govco-icon-edit-p::before {
    content: '\e988'
}

.govco-icon-edit-n::before {
    content: '\e987'
}

.govco-icon-padlock-p::before {
    content: '\e98a'
}

.govco-icon-padlock-n::before {
    content: '\e989'
}

.govco-icon-link-p::before {
    content: '\e98c'
}

.govco-icon-link-n::before {
    content: '\e98b'
}

.govco-icon-language-es-p::before {
    content: '\e990'
}

.govco-icon-language-es-n::before {
    content: '\e98f'
}

.govco-icon-language-en-p::before {
    content: '\e9a4'
}

.govco-icon-language-en-n::before {
    content: '\e9a3'
}

.govco-icon-statistics-p::before {
    content: '\e992'
}

.govco-icon-statistics-n::before {
    content: '\e991'
}

.govco-icon-save-p::before {
    content: '\e998'
}

.govco-icon-save-n::before {
    content: '\e997'
}

.govco-icon-hand-p::before {
    content: '\e99a'
}

.govco-icon-hand-n::before {
    content: '\e999'
}

.govco-icon-home-p::before {
    content: '\e99c'
}

.govco-icon-home-n::before {
    content: '\e99b'
}

.govco-icon-image-p::before {
    content: '\e99e'
}

.govco-icon-image-n::before {
    content: '\e99d'
}

.govco-icon-minus::before {
    content: '\e92d'
}

.govco-icon-minus-cp::before {
    content: '\e9b4'
}

.govco-icon-minus-cn::before {
    content: '\e9b3'
}

.govco-icon-movil-cp::before {
    content: '\e9b6'
}

.govco-icon-movil-cn::before {
    content: '\e9b5'
}

.govco-icon-pitch-p::before {
    content: '\e9b8'
}

.govco-icon-pitch-n::before {
    content: '\e9b7'
}

.govco-icon-eye-p::before {
    content: '\e9ba'
}

.govco-icon-eye-n::before {
    content: '\e9b9'
}

.govco-icon-play::before {
    content: '\e934'
}

.govco-icon-play-cp::before {
    content: '\e9be'
}

.govco-icon-play-cn::before {
    content: '\e9bd'
}

.govco-icon-social-p::before {
    content: '\e9c0'
}

.govco-icon-social-n::before {
    content: '\e9bf'
}

.govco-icon-reload-p::before {
    content: '\e9c2'
}

.govco-icon-reload-n::before {
    content: '\e9c1'
}

.govco-icon-answer-p::before {
    content: '\e9c6'
}

.govco-icon-answer-n::before {
    content: '\e9c5'
}

.govco-icon-sound-p::before {
    content: '\e9c8'
}

.govco-icon-sound-n::before {
    content: '\e9c7'
}

.govco-icon-table-p::before {
    content: '\e9ca'
}

.govco-icon-table-n::before {
    content: '\e9c9'
}

.govco-icon-less-size-p::before {
    content: '\e9ce'
}

.govco-icon-less-size-n::before {
    content: '\e9cd'
}

.govco-icon-more-size-p::before {
    content: '\e9cc'
}

.govco-icon-more-size-n::before {
    content: '\e9cb'
}

.govco-icon-user-p::before {
    content: '\e9d2'
}

.govco-icon-user-n::before {
    content: '\e9d1'
}

.govco-icon-video-p::before {
    content: '\e9d6'
}

.govco-icon-video-n::before {
    content: '\e9d5'
}

.govco-icon-pause::before {
    content: '\e930'
}


.lblMensaje {
    font-size: 12px;
}