﻿@page
@using Microsoft.Extensions.Configuration
@model SDP_MAESTRA_CONSULTA.Pages.Consulta.ConsultaAvanzadaModel
@inject IConfiguration configuration

@{ ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }


    <form method="post">
        <div class="row">
            <div class="col-12">
                <a href="#" tabindex="1"><img src="http://sisben.sdp.gov.co:8081/solicitudessisben/imagenes/SisbenConsulta.png" class="img-responsive img-fluid w-100" alt="Secretaría Distrital de Planeación" title="Logo Secretaría Distrital de Planeación" height="130" width="978"></a>
            </div>
        </div>
        <h1 class="ms-rteStyle-SubtituloUno mt-4">
            &nbsp;Consulta Nueva Encuesta Sisbén IV
        </h1>
        @if (Model.MostrarError)
        {
            <div class="row mt-3">
                <div id="panelMensaje" class="alert alert-danger w-100">

                    <div class="alert-icon pl-4">
                        <span class="govco-icon govco-icon-plus govco-icon-close govco-icon-danger"></span>
                        <span id="lblMensaje" class="toast-error">Usted no se encuentra registrado en la nueva encuesta Sisbén IV, por favor acérquese a un punto de la red CADE con su documento de identidad y de los demás integrantes del hogar.</span>
                    </div>

                </div>
            </div>
        }

        @if (Model.MostrarValidacion)
        {
            <div class="row mt-3">
                <div id="panelMensaje" class="alert alert-danger w-100">

                    <div class="alert-icon pl-4">
                        <span class="govco-icon govco-icon-plus govco-icon-close govco-icon-danger"></span>
                        <span id="lblMensaje" class="toast-error">Debe Diligenciar los campos obligatorios</span>
                    </div>

                </div>
            </div>
        }

        <div id="panelInformacionBusqueda mt-4 m-4">
            <div class="row mt-2" style="text-align: center">
                <div class="col mt-4">
                    <div class="col headline-m-govco"> <span id="labelCorte" class="headline-l-govco">Consolidado 03 Noviembre de 2020   </span></div>
                    <div class="letrasubtitulo mt-4" style="font-weight:normal">
                        Se prohibe modificar, transmitir o usar contenidos de esta página con propósitos comerciales, de servicios o difusión pública. El incumplimiento acarreará las sanciones legales que haya lugar.
                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row ocultar mt-4">
                <div class="col">
                    <div class="form-group form-group-govco col select-govco">
                        <label asp-for="PrimerNombre" class="ocultar letrasubtitulo" style="font-weight:normal">Primer Nombre *</label>
                        <input asp-for="PrimerNombre" type="text" class="form-control" maxlength="20" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-group-govco col select-govco">
                        <label asp-for="SegundoNombre" class="ocultar letrasubtitulo" style="font-weight:normal">Segundo Nombre</label>
                        <input asp-for="SegundoNombre" type="text" class="form-control" maxlength="20" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-group-govco col select-govco">
                        <label asp-for="PrimerApellido" class="ocultar letrasubtitulo" style="font-weight:normal">Primer Apellido *</label>
                        <input asp-for="PrimerApellido" type="text" class="form-control" maxlength="20" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-group-govco col select-govco">
                        <label asp-for="SegundoApellido" class="ocultar letrasubtitulo" style="font-weight:normal">Segundo Apellido</label>
                        <input asp-for="SegundoApellido" type="text" class="form-control" maxlength="20" />
                    </div>
                </div>



                <div class="col">
                    <label asp-for="anio"></label>
                    <select asp-for="anio" class="form-control">
                        <option value="-1" disabled="" selected="">Seleccione un año de nacimiento</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                        <option value="1949">1949</option>
                        <option value="1948">1948</option>
                        <option value="1947">1947</option>
                        <option value="1946">1946</option>
                        <option value="1945">1945</option>
                        <option value="1944">1944</option>
                        <option value="1943">1943</option>
                        <option value="1942">1942</option>
                        <option value="1941">1941</option>
                        <option value="1940">1940</option>
                        <option value="1939">1939</option>
                        <option value="1938">1938</option>
                        <option value="1937">1937</option>
                        <option value="1936">1936</option>
                        <option value="1935">1935</option>
                        <option value="1934">1934</option>
                        <option value="1933">1933</option>
                        <option value="1932">1932</option>
                        <option value="1931">1931</option>
                        <option value="1930">1930</option>
                        <option value="1929">1929</option>
                        <option value="1928">1928</option>
                        <option value="1927">1927</option>
                        <option value="1926">1926</option>
                        <option value="1925">1925</option>
                        <option value="1924">1924</option>
                        <option value="1923">1923</option>
                        <option value="1922">1922</option>
                        <option value="1921">1921</option>
                        <option value="1920">1920</option>
                    </select>
                    <span asp-validation-for="anio" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="mes"></label>
                    <select asp-for="mes" class="form-control">
                        <option value="-1" disabled="" selected="">Seleccione un mes de nacimiento</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    <span asp-validation-for="mes" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="dia"></label>
                    <select asp-for="dia" class="form-control">
                        <option value="-1" disabled="" selected="">Seleccione un dia de nacimiento</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <span asp-validation-for="dia" class="text-danger"></span>
                </div>
            </div>
            <div class="col mt-4">
                <div class="col m-2">
                    <div class="d-flex justify-content-center">
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <div class="g-recaptcha" data-type="image" data-callback="reCaptchaCallback" data-sitekey="6LeCtf8UAAAAAPXXXXXXXXXXnStVtVXXXXX">
                            <div style="width: 304px; height: 78px;">
                                <div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LexdmoUAAAAACb5UTsXLO_tvbD2q0d6GA91DJeJ&amp;co=aHR0cHM6Ly93c3Npc2JlbmNvbnN1bHRhLnNpc2Jlbi5nb3YuY286NDQz&amp;hl=es-419&amp;type=image&amp;v=1AZgzF1o3OlP73CVr69UmL65&amp;size=normal&amp;cb=npw7towedno" width="304" height="78" role="presentation" name="a-jjw3hp1k0pvt" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                            </div>
                            <iframe style="display: none;"></iframe>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col mt-4">
                <div class="input-group-btn col mt-2 btn-block btn">
                    <div class="d-flex justify-content-center">
                        <input asp-page="Index" type="submit" name="btnConsultar" value="CONSULTAR" id="btnConsultar" class="btn-round btn-high-l">
                        <input type="submit" name="btnConsultarAvanzada" value="CONSULTA AVANZADA" id="btnConsultarAvanzada" class="aspNetDisabled btn-round btn-middle-l">
                    </div>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="https://cdn.www.gov.co/v2/assets/cdn.min.css" rel="stylesheet">
    <script src="https://cdn.www.gov.co/v2/assets/js/utils.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">$('select').selectpicker();</script>
}

@{
    @if (Model.persona != null && Model.persona.Id > 0)
    {
        <div id="panelSiResultado">
            <div class="row mt-2 no-gutters">
                <div class="col">
                    <img src="https://wssisbenconsulta.sisben.gov.co/dnp_sisbenconsulta/App_Themes/images/logo_sisben_v1.0.png" alt="logo Sisbén" class="img-fluid float-left">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">

                    <div>
                        <strong class="headline-m-govco">Fecha base consolidada:</strong>
                        <span id="labelCorte0" class="letrasubtitulo" style="font-weight:normal;">03 Noviembre de 2020</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="background-color: #ecf0f1">
                <div class="col" style="text-align: left">
                    <b class="headline-l-govco">Datos Personales</b>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <div>
                        <b class="headline-m-govco">Nombres:</b>
                        <span id="labelNombres" class="letrasubtitulo" style="font-weight:normal;">@Model.persona.Pri_nombre   @Model.persona.Seg_nombre</span>
                    </div>
                    <div>
                        <b class="headline-m-govco">Tipo de Documento:</b>
                        <span id="labelTipoDocumento" class="letrasubtitulo" style="font-weight:normal;">@Model.persona.Tip_documento</span>
                    </div>
                    <div>
                        <b class="headline-m-govco">Codigo municipio:</b>
                        <span id="labelCodigoMunicipio" class="letrasubtitulo" style="font-weight:normal;">@Model.persona.Cod_mpio</span>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <b class="headline-m-govco">Apellidos:</b>
                        <span id="labelApellidos" class="letrasubtitulo" style="font-weight:normal;">@Model.persona.Pri_apellido  @Model.persona.Seg_apellido</span>
                    </div>
                    <div>
                        <b class="headline-m-govco">Número de Documento:</b>
                        <span id="labelNumeroDocumento" class="letrasubtitulo" style="font-weight:normal;">@Model.persona.Num_documento</span>
                    </div>
                </div>
            </div>
            <div class="row my-2" style="background-color: #ecf0f1">
                <div class="col" style="text-align: left">
                    <b class="headline-l-govco">Información de Consolidado</b>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <div id="panelMensaje" class="alert alert-success w-100 ">
                        <div class="alert-icon pl-4">
                            <span class="govco-icon govco-icon-check-cn text-success"></span>
                            <span class="lblMensaje" class="toast-error">Usted se encuentra registrado en la nueva encuesta Sisbén IV.</span>
                        </div>
                    </div>
                    <div>
                        <b class="headline-m-govco">Estado:</b>
                        <span id="labelMarca" class="letrasubtitulo" style="font-weight:normal;">VALIDADO</span>
                    </div>
                </div>
            </div>
        </div>

    }
}