﻿@page
@using Microsoft.Extensions.Configuration
@model SDP_MAESTRA_CONSULTA.Pages.Consulta.LoginModel
@inject IConfiguration configuration

@{ ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="container-fluid">
        <div class="row main-content text-center">
            <div class="col-md-8 text-center company__info">

                <a href="#" tabindex="1"><img src="~/images/sisben-2.jpeg" class="img-responsive img-fluid w-100" alt="Secretaría Distrital de Planeación" title="Logo Secretaría Distrital de Planeación" height="130" width="978"></a>


            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="title-head ">Consulta Integrada Sisbén IV</h3>
                    </div>

                    <div class="row">
                        <form control="" class="login-container" method="post" class="form-group">
                            <div class="row">
                                <input type="text" placeholder="Usuario" maxlength="20" asp-for="Username" name="username" id="username" class="form__input">
                            </div>
                            <div class="row">
                                <!-- <span class="fa fa-lock"></span> -->
                                <input type="password" placeholder="Contraseña" maxlength="20" asp-for="Password" name="password" id="password" class="form__input">
                            </div>
                            <!--<div class="row">
                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                                <label for="remember_me">Remember Me!</label>
                            </div> -->
                            <div class="row">
                                <input type="submit" value="Ingresar" class="btn">
                            </div>

                            @if (Model.MostrarValidacion)
                            {

                                <div class="row mt-3">
                                    <div id="panelMensaje" class="alert alert-danger w-100">

                                        <div class="alert-icon ">
                                            <span><i class="fa fa-close text-danger"></i></span>
                                            <span class="toast-error lblMensaje pl-2">Usuario y/o Contraseña invalidos.</span>
                                        </div>

                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                    <!--<div class="row">
                        <p>Don't have an account? <a href="#">Register Here</a></p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Consulta Nueva Encuesta SISBÉN IV</h2>
    @if (Model.MostrarValidacion)
    {
        <div class="row mt-2">
            <div id="panelMensaje" class="alert alert-danger w-100">

                <div class="alert-icon pl-4">
                    <span class="govco-icon govco-icon-plus govco-icon-close govco-icon-danger"></span>
                    <span id="lblMensaje" class="toast-error">Usuario y/o Contraseña invalidos.</span>
                </div>

            </div>
        </div>
    }
    <form class="login-container" method="post">
        <p><input type="text" placeholder="Usuario" maxlength="20" asp-for="Username"></p>
        <p><input type="password" placeholder="Contraseña" maxlength="20" asp-for="Password"></p>
        <p><input type="submit" value="Ingresar"></p>
    </form>
</div> -->

@section Scripts {
    <link rel="stylesheet" href="~/css/login.css">
    <script type="text/javascript">$('select').selectpicker();</script>
}